@import '../../../assets//scss/helpers/variables.scss';

.app-main {
  max-width: $wrapper-size;
  background: $color-platinum;
  padding: 30px;
  border-top-left-radius: 70px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 70px;
  border-bottom-left-radius: 3px;
  margin: 50px auto;
  box-shadow: -2px 0px 5px $color-easy-black;
  min-height: 400px;
  position: relative;
}
