.portfolio {

  &-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 20px;
  }

  &-item {
    flex: 0 0 33.33%;
    padding: 0 10px;
    font-size: 0;
    margin-bottom: 30px;

    &__num {
      font-size: 21px;
      position: absolute;
      color: #ffffff;
      top: -20px;
      left: -15px;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 38px;
      font-weight: bold;
      background: #4d6dbd;
      box-shadow: 3px -1px 5px rgba(0,0,0,0.2);
    }

    &__wrapper {
      position: relative;
      border-radius: 2px;
      cursor: pointer;
    }

    &__img {

      img {
        max-width: 100%;
      }
    }

    &__title {
      position: absolute;
      bottom: 0;
      padding: 15px;
      line-height: 1;
      font-size: 18px;
      width: 100%;
      background: #33485f94;
      color: #ffffff;
      font-weight: 500;
    }
  }
}
