@import './../../assets/scss/helpers/variables.scss';

.portfolio {

  &-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 20px;
  }

  &-item {
    flex: 0 0 33.33%;
    padding: 0 10px;
    font-size: 0;
    margin-bottom: 30px;

    @include media-width-down($media-size-md) {
      flex: 0 0 50%;
    }

    @include media-width-down($media-size-md) {
      flex: 0 0 100%;
    }

    &__num {
      font-size: 21px;
      position: absolute;
      color: $color-white;
      top: -20px;
      left: -15px;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 38px;
      font-weight: bold;
      background: $color-han-blue;
      box-shadow: 3px -1px 5px $color-easy-black;
    }

    &__wrapper {
      position: relative;
      border-radius: 2px;
      cursor: pointer;
    }

    &__img {

      img {
        max-width: 100%;
      }
    }

    &__title {
      position: absolute;
      bottom: 0;
      padding: 15px;
      line-height: 1;
      font-size: 18px;
      width: 100%;
      background: $color-easy-dark-blue;
      color: $color-white;
      font-weight: 500;
    }
  }
}

.empty {
  text-align: center;
    padding-top: 80px;

    &-text {
      font-size: 44px;
      padding-bottom: 15px;
    }

    &-icon {
      font-size: 100px;
      color: $color-han-blue;
    }
}
