@import "../../../assets/scss/helpers/variables.scss";

.app-header {
  padding-top: $offset-15;

  &__top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

    &-left {
      flex: 0 0 120px;
    }

    &-right {
      flex: 1 1 auto;
    }
  }
}
