@import "../../../assets/scss/helpers/variables.scss";

.app-header {
  background: $color-platinum;
  box-shadow: 0 0px 5px -2px $color-outer-space;

  &__top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-top: $offset-20;

    &-left {
      flex: 0 0 120px;
    }

    &-right {
      flex: 1 1 auto;
    }
  }
}
