@import '../../../assets/scss/helpers/variables.scss';

.menu-hamburger {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 48px;
  height: 42px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: $color-charcoal;
  cursor: pointer;

  &__wrapper {
    margin: 0 auto;
    width: 24px;

    span {
      height: 2px;
      width: 100%;
      display: block;
      background: $color-white;
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
