@import './../../assets/scss/helpers/variables.scss';

.about {

  &-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  &-image {
    flex: 0 0 40%;

    @include media-width-down($media-size-sm) {
      margin: 0 auto;
      padding-bottom: 10px;
    }

    &-main {
      background: url(../../assets/images/avatar.jpg) no-repeat no-repeat center -75px;
      width: 360px;
      height: 360px;
      background-size: cover;
      margin: 0 auto;
      border-radius: 50%;
      box-shadow: 0 -1px 9px $color-medium-black;

      @include media-width-down($media-size-md) {
        width: 250px;
        height: 250px;
      }

      @include media-width-down($media-size-sm) {
        margin: 0 auto;
        width: 100px;
        height: 100px;
        background-position: center center;
      }
    }

    img {
      max-width: 100%;
    }
  }

  &-info {
    flex: 0 0 60%;
    padding-left: 50px;
        padding: 0;

    @include media-width-down($media-size-lg) {
      padding-left: 30px;
    }

    @include media-width-down($media-size-sm) {
      flex: 0 0 100%;
      padding: 0;
    }


    &__title {
      font-weight: bold;
      font-size: 25px;
      text-align: right;
      padding-bottom: 15px;
      margin-bottom: 10px;
      color: $color-charcoal;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        width: 125px;
        height: 3px;
        background: $color-charcoal;
        bottom: 0;
        right: 0;
      }
    }
  }

  &-button {
    text-align: center;
    padding: 15px 0;
  }
}

.field {

  &-label {
    color: $color-aurometalsaurus;
    font-weight: bold;
    padding-bottom: 10px;
  }

  &-text {
    font-size: 18px;
    padding-bottom: 10px;
    border-bottom: 2px solid $color-medium-white;
    margin-bottom: 10px;
    line-height: 1.4;
  }

  &-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  &-item {
    flex: 0 0 25%;
    padding: 30px;
    text-align: center;

    @include media-width-down($media-size-lg) {
      padding: 20px;
    }

    @include media-width-down($media-size-md) {
      padding: 15px 5px;
    }

    @include media-width-down($media-size-md) {
      flex: 0 0 50%;
    }

    &__img {
      padding-bottom: 10px;

      @include media-width-down($media-size-md) {
        max-width: 45px;
        margin: 0 auto;
      }

      img {
        max-width: 100%;
      }
    }

    &__text {
      font-weight: 500;
      font-size: 21px;
      color: $color-charcoal;
    }
  }
}
