@import '../../../assets/scss/helpers/variables.scss';

.app-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;

  &.__header {

    .app-menu__item {

      a {
        color: $color-cadet;
        font-weight: 600;

        &:after {
          content: '';
          position: absolute;
          bottom: -3px;
          left: 0;
          width: 100%;
          height: 2px;
          background: $color-han-blue;
          display: none;
        }

        &:hover, &._active {
          color: $color-han-blue;

          &:after {
            display: block;
          }
        }
      }
    }
  }

  &.__footer {
    justify-content: center;

    .app-menu__item {
      margin: 0 5px;

      a {
        border-bottom: 1px dashed transparent;
        padding: 0 0 5px;
        margin: 0 10px;

        &:hover, &._active {
          color: #32bded;
          border-color: #32bded;
        }
      }
    }
  }

  &__item {
    cursor: pointer;
    position: relative;
    padding: 20px 0;

    a {
      text-decoration: none;
      font-weight: 400;
      color: #fff;
      display: inline-block;
      padding: 0 $offset-15 $offset-10;
    }
  }
}
