@import 'variables.scss';

.btn {
  width: 100%;
  max-width: $button-size;
  margin: 0 auto;
  background: $color-han-blue;
  border: none;
  padding: 10px;
  color: $color-white;
  font-weight: 600;
  border-radius: 3px;
  outline: 0;
  cursor: pointer;

  &:hover {
    background: $color-han-blue-hover;
  }
}
