@font-face {
  font-family: 'Raleway';
  src: url('../../fonts/Raleway/Raleway-Regular/Raleway-Regular.eot');
  src: url('../../fonts/Raleway/Raleway-Regular/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/Raleway/Raleway-Regular/Raleway-Regular.woff2') format('woff2'),
      url('../../fonts/Raleway/Raleway-Regular/Raleway-Regular.woff') format('woff'),
      url('../../fonts/Raleway/Raleway-Regular/Raleway-Regular.ttf') format('truetype'),
      url('../../fonts/Raleway/Raleway-Regular/Raleway-Regular.svg#Raleway-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../../fonts/Raleway/Raleway-Bold/Raleway-Bold.eot');
  src: url('../../fonts/Raleway/Raleway-Bold/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/Raleway/Raleway-Bold/Raleway-Bold.woff2') format('woff2'),
      url('../../fonts/Raleway/Raleway-Bold/Raleway-Bold.woff') format('woff'),
      url('../../fonts/Raleway/Raleway-Bold/Raleway-Bold.ttf') format('truetype'),
      url('../../fonts/Raleway/Raleway-Bold/Raleway-Bold.svg#Raleway-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../../fonts/Raleway/Raleway-Medium/Raleway-Medium.eot');
  src: url('../../fonts/Raleway/Raleway-Medium/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/Raleway/Raleway-Medium/Raleway-Medium.woff2') format('woff2'),
      url('../../fonts/Raleway/Raleway-Medium/Raleway-Medium.woff') format('woff'),
      url('../../fonts/Raleway/Raleway-Medium/Raleway-Medium.ttf') format('truetype'),
      url('../../fonts/Raleway/Raleway-Medium/Raleway-Medium.svg#Raleway-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}
