@import 'variables.scss';

body {
  font-family: $font-family;
}

a {
  transition: $transition-type-for-link;
  text-decoration: none;
}

.h1 {
  text-align: center;
  font-size: 28px;
  padding-bottom: 15px;
  font-weight: bold;
  color: $color-aurometalsaurus;
}
