$font-family: 'Raleway', sans-serif;

$media-size-lg: 1200px;
$media-size-md: 992px;
$media-size-sm: 768px;
$media-size-xs: 450px;

$wrapper-size: 1100px;

$transition-type-for-link: all 0.2s ease-in-out;

$color-cadet: #525d68b3;
$color-han-blue: #4d6dbd;
$color-queen-blue: #42658C;
$color-dark-blue: #394f84;
$color-easy-blue: #32bded;
$color-outer-space: #454545;
$color-platinum: rgba(255, 255, 255, 0.3);
$color-aurometalsaurus: #63707e;
$color-roman-silver: #83909D;
$color-hard-silver: #7d8690;
$color-blue-yonder: #4C75A3;
$color-sizzling-red: #fb3958;
$color-state-gray: #777F88;
$color-desire: #DC3953;
$color-charcoal: #33485F;
$color-white: #ffffff;

$color-easy-black: rgba(0,0,0,0.2);
