$font-family: 'Raleway', sans-serif;

$media-size-lg: 1200px;
$media-size-md: 992px;
$media-size-sm: 768px;
$media-size-xs: 450px;

$wrapper-size: 1100px;

$offset-15: 15px;
$offset-5: 5px;
$offset-auto: 0 auto;

$transition-type-for-link: all 0.2s ease-in-out;

$color-cadet: #525d68b3;
$color-han-blue: #4d6dbd;
